*{
    margin: 0%;
    padding: 0%;
}

body{
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b5d6b2;
}

#container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 5px;
    border: none;
    font-size: 8vmin;
    color: brown;
    box-shadow: 0px 0px 10px black;
    background-color:#ffefbd;
}

#reset-btn{
    width: 9rem;
    font-size: 20px;
    height: 3rem;
    border-radius: 5px;
    color:white;
    background-color:#53131e;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #53131e;
    border-radius: 1rem;
    color: white;
    border: none;
}

#msg{
    color: white;
    font-size: 5vmin;
}

.msg-container{
    height: 30vmin;
}

.hide{
    display: none;
}
